<div class="view-professor-container">
    <div class="container maxWidth">
      <div class="row borderCard">

        <div class="col-12 form-row">
          <div class="form-group col-12">
              <label for="nome">Nome</label>
              <h2>Nome do professor</h2>
            </div>
        
            <div class="form-group col-12">
                <label for="nome">Email</label>
                <h2>Email do professor</h2>
              </div>
        
            <div class="form-group col-12 buttons">
                <button>Editar</button>
                <button>Remover</button>
            </div>
        </div>
  
      </div>
    </div>
  
  </div>