<div class="container mensagem-containter">
  <div class="row no-gutters mensagem-containter">

    <!-- Cabecalho -->
    <div class="col-12 text-center mensagem-cabecalho">
      Mensagens
    </div>

    <!-- Div dos Contatos -->
    <div class="col-2 text-center mensagem-contatos">

      <!-- Contato -->
      <div *ngFor = "let nome of contatos" class="contato">
        <!-- Foto do contato -->
        <div class="contato-foto">
          <img src="https://image.flaticon.com/icons/png/512/57/57134.png" alt="foto do perfil" class="contato-foto-img">
        </div>
        <!-- Nome do contato -->
        <div class="contato-nome">
          <p>{{nome}}</p>
        </div>
      </div>

    </div>

    <!-- div da conversa -->
    <div class="col-10 text-center mensagem-body">

      <!-- Mensagens -->
      <div class="mensagem-body-conversa">

        <dl>
        <dt>Mensagens</dt>
        <dd *ngFor="let m of msgs">{{m}}</dd>
        </dl>
<!--

        <div class="mensagem-prof">
          <p>Teste de envio de mensagem do prof</p>
        </div>


        <div class="mensagem-aluno">
            <p>Teste de envio de mensagem do aluno</p>
        </div> -->

      </div>


      <!-- Evio de mensagens -->
      <div class="mensagem-body-envio-mensagem">

        <div class="envio-de-mensagem-incone">
          <i class="enviar-foto material-icons">add_a_photo</i>
          <i class="enviar-video material-icons">video_call</i>
        </div>

        <div class="envio-de-mensagem">
          <input class="input-mensagem" [(ngModel)]="chatInput">
          <button (click)="sendButtonClick()">Enviar!</button>
        </div>

      </div>
    </div>

  </div>
</div>
