<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened style="width:150px">
    <mat-list role="list" style="margin-bottom:10px;">
      <mat-list-item> Lista de Alunos </mat-list-item>
    </mat-list>
    <mat-accordion>
      <mat-expansion-panel  *ngFor = "let chat of chats">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{chat.alunoNome}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list" *ngFor = "let f of chat.chats">
          <a mat-list-item href="mensagens#" (click)="activeChat(f.uuid)"> <h3 matLine>{{f.licaoTitulo}}</h3></a>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav>
  <mat-sidenav-content>

    <mat-list role="list" class="chat" #scrollMe>
      <div style="width:100%;position:relative">

    <mat-list-item *ngFor="let m of chatActivated" class="msgBoxItem">

      <mat-card class="msgBox" *ngIf="m.remetente == 'aluno'">
      <mat-icon mat-list-icon>account_box</mat-icon>
      <h4 mat-line>{{m.alunoNome}}</h4>
      <p mat-line> {{m.msg}} </p>
      </mat-card>

      <mat-card id="myself" class="msgBox" *ngIf="m.remetente != 'aluno'">
      <mat-icon mat-list-icon>account_box</mat-icon>
      <h4 mat-line>você</h4>
      <p mat-line> {{m.msg}} </p>
      </mat-card>
    </mat-list-item>
      </div>
    </mat-list>
    <mat-card class="inputCard" *ngIf="chatActivated.length > 0">
      <mat-form-field class="myinput">
        <input matInput placeholder="Digite algo ao aluno" [(ngModel)]="chatInput">
      </mat-form-field>
      <div style="width:100%; background-color:red; position:relative">
      <button mat-raised-button color="primary" (click)="sendButtonClick()" class="btnEnviar">Enviar!</button>
      </div>
    </mat-card>


  </mat-sidenav-content>
</mat-sidenav-container>
