.text-center{
    text-align: center;
}

.mensagem-cabecalho{
    background-color: #6a6ad0;
    height: 5%;
}

.mensagem-contatos {
    background-color: #8080ca;
    height: 95%;
}

.mensagem-body {
    background-color: #d9d9fd;
    height: 95%;
}

.mensagem-containter{
    height: 100%;
    max-width: 100%;
}

.mensagem-body-conversa{
    display: flex;
    flex-direction: column;
    height: 90%;
}

.mensagem-body-envio-mensagem{
    padding-left: 10px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    background-color: #5b5bcf;
    height: 10%;
    border-radius: 10rem;
}

.contato {
    margin-top: 4px;
    width: 100%;
    height: 40px;
    display: flex;
    border: #aeaeff;
    border-style: solid;
    cursor: pointer;
}
.contato-foto{
    flex: 1;
    float: left;
    height: 40px;
}
.contato-foto-img{
    border-radius: 10rem;
    background: white;
    height: 30px;
}

.contato-nome{
    flex: 2;
    text-align: center;
}

.envio-de-mensagem-incone{
    flex: 1;
    text-align: center;
}

.envio-de-mensagem{
    flex: 9;
}

.input-mensagem{
    width: 90%
}

.enviar-foto{
    cursor: pointer;
    margin-left: 10%;
}

.enviar-video{
    cursor: pointer;
    margin-left: 10%;
}

.mensagem-aluno{
    height: inherit;
    width: inherit;
    background-color: aquamarine;
    text-align: left;
    float: left;
    height: 3%;
}

.mensagem-prof{
    height: inherit;
    width: inherit;
    background-color: aqua;
    text-align: right;
    float: right;
    height: 3%;
}