<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" [mode]="over" style="width:300px;">

    <mat-accordion *ngIf="auth.isAdm()">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lições
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <a mat-list-item routerLink="" (click)="sidenav.toggle()"> <h3 matLine>Ver Todas</h3></a>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Professores
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <a mat-list-item routerLink="list/professor" (click)="sidenav.toggle()"> <h3 matLine>Ver Todos</h3></a>
        <a mat-list-item routerLink="new/professor" (click)="sidenav.toggle()"> <h3 matLine>Registrar Novo Professor</h3></a>
      </mat-list>
    </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion *ngIf="auth.isProf()">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Home
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list role="list">
          <a mat-list-item routerLink="" (click)="sidenav.toggle()"> <h3 matLine>Página Inicial</h3></a>
        </mat-list>
      </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Feed
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <a mat-list-item routerLink="list/post" (click)="sidenav.toggle()"> <h3 matLine>Ver Feed</h3></a>
      </mat-list>
      <mat-list role="list">
        <a mat-list-item routerLink="new/post" (click)="sidenav.toggle()"> <h3 matLine>Adicionar Post</h3></a>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Lições
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <a mat-list-item routerLink="list/licao" (click)="sidenav.toggle()"> <h3 matLine>Ver Todas</h3></a>
        <a mat-list-item routerLink="new/licao" (click)="sidenav.toggle()"> <h3 matLine>Adicionar Lição</h3></a>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mensagens
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <a mat-list-item routerLink="mensagens" (click)="sidenav.toggle()"> <h3 matLine>Ver Mensagens</h3></a>
      </mat-list>
    </mat-expansion-panel>
    </mat-accordion>


  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="my-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Yogar Admin</span>
      <span class="example-spacer"></span>
      <button mat-icon-button color="warn" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet> <!-- Aqui ficam as paginas dinámicas -->
  </mat-sidenav-content>

</mat-sidenav-container>
