<mat-card class="mycard">
  <mat-card-title>Novo Post</mat-card-title>
  <form class="example-form" [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <input matInput formControlName="titulo" name="titulo" id="titulo" placeholder="Títutlo">
    </mat-form-field>

    <mat-form-field class="example-full-width">
       <textarea matInput formControlName="texto"  name="texto" id="texto" placeholder="Conteúdo"></textarea>
    </mat-form-field>

    <span> Imagem </span>
    <input type="file"  name="theFile" id="theFile"  (change)="onFileSelect($event)">

    <button mat-raised-button color="primary" type="submit" class="myBtn">Publicar</button>

  </form>
</mat-card>
