<div class="new-post-container">

  <div class="header">
    <h1>Nova Postagem</h1>
  </div>

  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" class="form-control" name="titulo" id="titulo" placeholder="Títutlo" >
      </div>
      <div class="form-group">
        <textarea type="text" class="form-control" name="texto" id="texto" placeholder="Conteúdo" ></textarea>
      </div>
      <div class="form-group">
          <label for="image">Imagem</label><br />
          <input class="btn btn-primary" type="file" name="theFile" id="theFile" (change)="onFileSelect($event)">
      </div>
      <div class="form-group">
        <button  type="submit" class="btn btn-primary">Publicar</button>
      </div>
  </form>

</div>
