<div class="list-professor-container">
  
  <div class="header">
    <h1>Lista de Professores Do Yogar</h1>
  </div>

  <div class="list">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Professor 1
        <div>
            <i (click)="routerTo('view/professor/',0)" class="material-icons">visibility</i>
            <i (click)="routerTo('edit/professor/',0)" routerLink="edit/professor/0" class="material-icons">edit</i>
            <i  class="material-icons">delete</i>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Professor 1
        <div>
            <i class="material-icons">visibility</i>
            <i class="material-icons">edit</i>
            <i class="material-icons">delete</i>
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Professor 1
        <div>
            <i class="material-icons">visibility</i>
            <i class="material-icons">edit</i>
            <i class="material-icons">delete</i>
        </div>
        
      </li>
          
    </ul>
  </div>

</div>