<div class="list-professor-container">
  
  <div class="header">
    <h1>Lista de Professores Do Yogar</h1>
  </div>

  <div class="list">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center"
      *ngFor="let professor of professores">
        {{professor.primeiroNome}}
        <div>
            <i (click)="routerTo('view/professor/',professor.uuid)" class="material-icons">visibility</i>
            <i (click)="deleteModalFlagF(professor.uuid)" class="material-icons">delete</i>
        </div>
      </li>          
    </ul>
  </div>

  <div *ngIf="deleteModalFlag" class="card confirm-delete">
    <div class="card-header">
      <h5>Deseja mesmo deletar o Professor?</h5>
    </div>
    <div class="card-body">
      <button (click)="delete()" class="btn btn-primary delete-button">Sim</button>
      <button (click)="deleteModalFlagF()" class="btn btn-primary">Não</button>
    </div>
  </div>

</div>