<div class="new-licao-container">

  <div class="header">
    <h1>Nova Lição</h1>
  </div>

  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <div class="container maxWidth">
      <div class="row borderCard">

        <div class="col-12 form-row">

          <div class="form-group col-7">
            <label for="titulo">Título</label>
            <input  class="form-control" formControlName="titulo" type="text" name="titulo" id="titulo">
          </div>

          <div class="form-group col-2">
            <label for="nivel">Nível</label>
            <input  class="form-control" formControlName="nivel" type="number" name="nivel" id="nivel">
          </div>

          <div class="form-group col-2">
            <label for="recompensa">Recompensa</label>
            <input  class="form-control" formControlName="recompensa" type="number" name="recompensa" id="recompensa">
          </div>

          <div class="form-group col-1">
            <label for="premium">Premium</label>
            <input  class="form-control" formControlName="ehPremium" type="checkbox" name="ehPremium" id="ehPremium">
          </div>

          <div class="form-group col-12">
            <label for="tag">Tags</label>
            <input  class="form-control" formControlName="tag" type="text" name="tag" id="tag">
          </div>

          <div class="form-group col-12">
            <label for="descricao">Descrição</label>
            <textarea  class="form-control" formControlName="descricao" type="text" name="descricao" id="descricao"></textarea>
          </div>

          <div class="form-group col-12">
            <label for="aula">Aula</label>
            <p>Atenção:O arquivo não pode ultrapassar os 30min e os 50Mb</p>
            <input type="file" class="form-control" formControlName="theFile" name="theFile" id="theFile" (change)="onFileSelect($event)">
          </div>

          <div class="form-group col-12">
            <button  type="submit" class="btn btn-primary">Publicar</button>
          </div>

        </div>

      </div>
    </div>
  </form>

</div>
