<mat-card class="mycard">
  <mat-card-title>Nova Lição</mat-card-title>
  <form class="example-form" [formGroup]="licaoForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Titulo" formControlName="titulo" id="titulo">
    </mat-form-field>

    <div style="display: flex;">
      <div style="padding:14px; padding-left:0px">Nivel: </div>
      <mat-slider style="width:100%"
      class="example-margin"
      [max]="10"
      [min]="1"
      [step]="1"
      [thumbLabel]=true
      formControlName="nivel">
      </mat-slider>
    </div>

    <div style="display: flex; margin-bottom:10px;">
      <div style="padding:14px; padding-left:0px">Recompensa: </div>
      <mat-slider style="width:100%"
      class="example-margin"
      [max]="100"
      [min]="10"
      [step]="10"
      [thumbLabel]=true
      formControlName="recompensa">
      </mat-slider>
    </div>
    <!-- <mat-form-field class="example-full-width">
      <input matInput placeholder="Recompensa" type="number" formControlName="recompensa" id="recomepnsa">
    </mat-form-field> -->

    <mat-checkbox formControlName="ehPremium" id="premium"> Premium </mat-checkbox>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Tag" formControlName="tag" id="tag">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Desafio</mat-label>
      <mat-select formControlName="desafio">
        <mat-option *ngFor="let desafio of desafios" value= {{desafio.nome}}>
          {{desafio.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
       <textarea matInput placeholder="Descrição" formControlName="descricao" id="descricao"></textarea>
    </mat-form-field>

    <span> Video </span>
    <input type="file"  id="aula" (change)="onFileSelect($event)">


    <button mat-raised-button color="primary" type="submit" class="myBtn">Publicar</button>
  </form>
</mat-card>
