<mat-card *ngFor="let post of listaPost" class="example-card">
  <mat-card-header>
    <mat-card-title>{{post.titulo}}</mat-card-title>
    <mat-card-subtitle>{{post.data | date:'dd/MM/yyyy'}}</mat-card-subtitle>
  </mat-card-header>
    <img mat-card-image src="{{API_URL_IMG + post.id + '/img'}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p style="margin-top: 10px;">
      {{post.texto}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="edit(post)">Editar</button>
    <button mat-raised-button color="warn" (click)="delete(post.id)">Excluir</button>
  </mat-card-actions>
</mat-card>
