<div class="register-professor-container">

  <div class="header">
    <h1>Registro de Novo Professor</h1>
  </div>

  <div class="container maxWidth">
    <div class="row borderCard">

      <!-- <div class="col-3">
        <label class="image-upload-container btn btn-bwm">
            <span>Select Image</span>
            <input #imageInput
                    type="file"
                    accept="image/*"
                    (change)="processFile(imageInput)"
                    class="img-thumbnail">
          </label>
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Default-welcomer.png/643px-Default-welcomer.png" alt="foto default">
      </div> -->

      <div class="col-12 form-row">
        <div class="form-group col-12">
            <label for="nome">Nome</label>
            <input class="form-control" type="text" name="nome" id="nome">
          </div>
      
          <div class="form-group col-12">
              <label for="nome">Email</label>
              <input class="form-control" type="text" name="email" id="email">
          </div>
      
          <div class="form-group col-6">
              <label for="nome">Senha</label>
              <input class="form-control" type="password" name="senha" id="senha">
          </div>

          <div class="form-group col-5">
              <label for="nome">Confirme Senha</label>
              <input class="form-control" type="password" name="senha" id="senha">
          </div>

          <div class="form-group col-1">
            <label for="">Confere?</label>
            <!-- <i class="material-icons">done</i> -->
            <i class="confere form-control material-icons">close</i>
          </div>
      
          <div class="form-group col-12">
              <button  type="button" class="btn btn-primary">Registrar</button>
          </div>
      </div>

    </div>
  </div>

</div>