<div class="bg">
<mat-card class="mycard">
  <mat-card-title>Registro de Novo Professor</mat-card-title>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username" [(ngModel)]="professor.nome.primeiro" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" [(ngModel)]="professor.email" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="Senha" [(ngModel)]="professor.login.senha" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="register()" class="myBtn">Registrar</button>
  </form>
</mat-card>
<div>
