.bg {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  justify-content: center;
  align-items: center;
}

.mycard {
  top: 60px;
  margin: 30px;
  height: 300px;
}

.myBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.register-professor-container{
    height: 100%;
    width: 99%;
    margin-left: 9px;
    padding-top: 30px;
}
