.licoes-container{
    height: 100%;
    width: 99%;
    max-width: 100%;
    padding-top: 20px;
}

.flex{
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
}

.card{
    width: 100%;
    margin: 0;
    padding: 0;
}

.title{
    flex: 1;
}

.data{
    flex: 1;
    text-align: end;
}

.header{
    text-align: center;
    padding-bottom: 30px;
}

.borderCard{
    border: solid rgb(178, 99, 209) 1px;
    border-radius: 10px;
}

button{
    float: right;
    background-color: rgb(160, 96, 219);
    border-color: rgb(178, 99, 209);
    margin-left: 1px;
}


.maxWidth{
    max-width: 100%;
}

textarea{
    height: 300px;
}

.post{
    margin-bottom: 15px;
}

.delete-button{
    background-color: #c55b5b;
}

.edit-button{
    background-color: blueviolet;
}

.confirm-delete{
    position: fixed;
    /* height: 30%; */
    width: 20%;
    top: 30%;
    left: 50%;
    z-index: 999;
}

.text-center{
    text-align: center;
}