<style>
.progress {
  background-color: transparent !important;
}
</style>
<mat-card *ngFor="let licao of licoes" class="example-card">
  <mat-card-header>
    <mat-card-title>{{licao.titulo}}</mat-card-title>
    <mat-card-subtitle>{{licao.tag}}</mat-card-subtitle>
  </mat-card-header>
  <mat-video  #video
              (timeupdate)="onTimeUpdate($event)"
              title="Yogar {{licao.titulo}}"
              [autoplay]="false"
              [preload]="true"
              [quality]= "false"
              [fullscreen]="true"
              [download]="false"
              color="accent"
              spinner="spin"
              poster="http://yogar.splab.ufcg.edu.br/_static/yogar.png"
              >
  <source matVideoSource src="{{API_URL_VIDEO + licao.id + '/video'}}" type="video/mp4">
  <track matVideoTrack src="subtitles_en.vtt" kind="subtitles" srclang="en" label="English">
  <track src="subtitles_no.vtt" kind="subtitles" srclang="no" label="Norwegian">
</mat-video>
  <mat-card-content>
    <p style="margin-top: 10px;">
      {{licao.descricao}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="delete(licao.id)">Excluir</button>
  </mat-card-actions>
</mat-card>
